body
{
	margin: 0 auto;
	background: url(../img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}
.center
{
	
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}
h1
{
	color: #ffffff;
}